.colorBtn {
	display: flex;
	height: 48px;
	padding: 0px 24px;
	justify-content: center;
	align-items: center;
	gap: 8px;

	border-radius: 900px;
	background: #6d68ff;

	color: #fff;
	font-family: 'IBM Plex Sans';
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	border: none;
	cursor: pointer;
}
