@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply m-0 bg-[#010101];
  }

  img {
    @apply w-full h-full;
  }
}

@layer components {
  .Title {
    @apply font-["IBM_Plex_Sans"] text-[48px] font-normal leading-[130%];
    background: linear-gradient(
      90deg,
      #dad8fd 23.24%,
      #fff 50.62%,
      #dad8fd 79.62%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .Subtitle {
    @apply text-[#9d9d9d] font-["IBM_Plex_Sans"] text-[16px] font-normal leading-[150%];
  }

  .container {
    @apply flex px-[108px] py-[100px] gap-[56px] w-full max-w-none;
  }

  .h400 {
    @apply h-[400px] !important;
  }

  .HeroTitle {
    @apply text-white text-[66px] w-full max-w-[650px] leading-[120%] font-ibm font-normal;
  }

  .HeroSubtitle {
    @apply text-white text-[16px] w-full max-w-[420px] leading-[150%] font-ibm font-normal;
  }

  .heroUnderTitle {
    @apply text-[#57c0c9] uppercase font-light text-[16px] font-mono;
  }

  .heroContainer {
    @apply px-[108px] flex items-center h-[calc(100vh-96px)] gap-[64px];
  }

  .center {
    @apply items-center justify-center;
  }

  .pbNone {
    @apply pb-0 !important;
  }

  .containerBottom {
    @apply pb-[100px];
  }
}

@layer utilities {
  @media (max-width: 1285px) {
    .container {
      @apply px-[80px] max-w-none;
    }

    .HeroTitle {
      @apply text-[60px];
    }

    .heroContainer {
      @apply px-[80px];
    }
  }

  @media (max-width: 1040px) {
    .container {
      @apply px-[60px] py-[80px] max-w-none;
    }

    .containerBottom {
      @apply pb-[80px];
    }

    .heroContainer {
      @apply px-[60px] flex-col h-full items-center justify-center overflow-hidden;
    }

    .Title {
      @apply text-[45px];
    }

    .HeroTitle {
      @apply text-[55px] text-center;
    }

    .HeroSubtitle {
      @apply text-center;
    }

    .heroUnderTitle {
      @apply text-center;
    }
  }

  @media (max-width: 768px) {
    .container {
      @apply px-[40px] py-[60px] max-w-none;
    }

    .containerBottom {
      @apply pb-[60px];
    }

    .heroContainer {
      @apply px-[40px] gap-[32px];
    }

    .Title {
      @apply text-[35px];
    }

    .HeroTitle {
      @apply text-[45px];
    }
  }

  @media (max-width: 640px) {
    .container {
      @apply px-[24px] py-[48px] max-w-none;
    }

    .containerBottom {
      @apply pb-[48px];
    }

    .heroContainer {
      @apply px-[16px];
    }

    .Title {
      @apply text-[30px];
    }

    .HeroTitle {
      @apply text-[36px];
    }
  }
}
